<section class="about" id="about">
  <div class="container about__container">
    <div class="about__img-wrapper image-top-left">
      <picture>
        <source
          srcset="
            ./img/about/diamond-pair-desc-1x.webp 1x,
            ./img/about/diamond-pair-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/about/diamond-pair-mob-1x.webp 1x,
            ./img/about/diamond-pair-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/about/diamond-pair-mob-2x.webp"
          alt="diamond-pair"
          width="61"
        />
      </picture>
    </div>
    <div class="about__info-wrapper">
      <h2 class="about__title">About the Game</h2>
      <p class="about__text">
        Step into the world of Tile Cozy, where each match brings calm, and
        every level feels like a warm cup of tea on a rainy afternoon.<br/>This
        puzzle game combines the satisfaction of tile-matching mechanics with a
        comforting atmosphere that helps you unwind, think clearly, and simply
        enjoy the moment.<br/>Designed for gentle thinkers and casual gamers, Tile
        Cozy invites you to slow down, notice details, and find peace through
        matching.
      </p>
    </div>
    <div class="about__image-wrapper image-bottom-right">
      <picture>
        <source
          srcset="
            ./img/about/dimond-box-desc-2x.webp 1x,
            ./img/about/dimond-box-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/about/dimond-box-desc-2x.webp 1x,
            ./img/about/dimond-box-desc-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/about/dimond-box-desc-2x.webp"
          alt="diamond-box"
          width="72"
        />
      </picture>
    </div>
  </div>
</section>
