<section class="contacts" id="contact">
  <div class="container container-contact">
    <h2 id="contact" class="title-contact">Contacts</h2>
  
    <address>
      <p class="contact-address">
        Address:
        <a
          href="https://www.google.com/maps?q=Yoyi+Games,+88+Serenity+Way,+Copenhagen,+Denmark"
          target="_blank"
          rel="noopener noreferrer"
        >
          Yoyi Games, 88 Serenity Way, Copenhagen, Denmark
        </a>
      </p>
      <p class="contact-email">
        Email: <a href="mailto:info@designyoyi.online">info@designyoyi.online</a>
      </p>
      <div class="social-group">
        <p class="contact-social-title">Follow us on social:</p>
        <div class="contact-icon">
          <a
            href="https://instagram.com/tilecozygamespace"
            target="_blank"
            class="social-link"
          >
            <img
              src="./img/contacts/icons_instagram.png"
              alt="Icon instagram"
              class="insta-icon"
            />
          </a>
  
          <a
            href="https://facebook.com/tilecozygamespace"
            target="_blank"
            class="social-link"
          >
            <img
              src="./img/contacts/icon_facebook.png"
              alt="Icon Facebook"
              class="facebook-icon"
            />
          </a>
        </div>
      </div>
    </address>
    <div class="contacts-bg-img-wrapper-left" aria-hidden="true">
      <picture>
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-desc-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-mob-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/game-modes/diamond-fetures-bg-desc-2x.webp"
          alt="background decoration"
          width="124"
        />
      </picture>
    </div>
    <div class="contacts-bg-img-wrapper-right" aria-hidden="true">
      <picture>
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-desc-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-mob-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/game-modes/diamond-fetures-bg-desc-2x.webp"
          alt="background decoration"
          width="164"
        />
      </picture>
    </div>
  </div>
</section>
