<section class="download">
  <div class="container section-download">
    <div>
      <div class="cont-title-download">
        <h2 class="title-download">Bring Peace to Your Puzzle Time</h2>
        <p class="paragraf-download">
          Free, calming, and thoughtfully designed. Perfect for every mood.
        </p>
      </div>
  
      <div class="img-download">
        <img
          src="./img/download/down-pick1x.png"
          alt="Illustration of a bearded man hugging a smiling boy and girl"
          srcset="
            ./img/download/down-pick1x.png 1x,
            ./img/download/down-pick2x.png 2x
          "
        />
      </div>
  
      <a
        href="https://play.google.com/store/apps/details?id=com.nss.chikiguys&hl=en&gl=us"
        class="google-play-button"
        target="_blank"
      >
        <div class="title-btn-google">
          <img
            src="./img/download/google-play-icon1x.png"
            alt="Google Icon"
            class="google-icon"
          />
  
          <span class="text-bottom">Google Play</span>
        </div>
      </a>
    </div>
  </div>
</section>
