<section class="accordion" id="faq">
  <div class="container section-accordion">
    <h2 class="accordion-top-title">FAQ</h2>
  
    <div class="container-accordeon">
      <div class="accordion-item">
        <button class="accordion-header">
          <h3 class="accordion-title">Is Tile Coze free?</h3>
          <svg class="accordion-icon" width="26" height="26">
            <use href="./public/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p>
            Yes. It's free to play with optional relaxing themes and boosters.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <h3 class="accordion-title">Can I play offline?</h3>
          <svg class="accordion-icon" width="26" height="26">
            <use href="./public/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p>Yes — perfect for planes, cafes, or quiet rooms.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <h3 class="accordion-title">Are there daily puzzles?</h3>
          <svg class="accordion-icon" width="26" height="26">
            <use href="./public/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p>Absolutely. A new hand-crafted board appears every day.</p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <h3 class="accordion-title">Is it too easy for puzzle fans?</h3>
          <svg class="accordion-icon" width="26" height="26">
            <use href="./public/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p>
            Cozy doesn't mean simple — advanced levels introduce real tile
            strategy.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button class="accordion-header">
          <h3 class="accordion-title">Can kids play?</h3>
          <svg class="accordion-icon" width="26" height="26">
            <use href="./public/icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
        <div class="accordion-content">
          <p>Definitely. It's safe, calm, and great for focus and observation.</p>
        </div>
      </div>
    </div>
    <!-- ==== -->
  
    <div class="fag-modes-bg-img-wrapper-right" aria-hidden="true">
      <picture>
        <source
          srcset="
            ./img/faq/diamond-faq-bg-desc-1x.webp 1x,
            ./img/faq/diamond-faq-bg-desc-2x.webp.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/faq/diamond-faq-bg-mob-1x.webp 1x,
            ./img/faq/diamond-faq-bg-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/faq/diamond-faq-bg-desc-2x.webp"
          alt="background decoration"
          width="195"
        />
      </picture>
    </div>
  </div>
</section>
