<footer class="section-footer">
  <div class="container">
    <ul class="footer-links">
      <li class="footer-link-item">
        <a href="/page-privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="footer-link-divider">
        <img src="./img/footer/ellipse.png" alt="Icon Ellipse" />
      </li>
      <li class="footer-link-item">
        <a href="/page-terms-and-conditions.html">Terms and Conditions</a>
      </li>
      <li class="footer-link-divider">
        <img src="./img/footer/ellipse.png" alt="Icon Ellipse" />
      </li>
      <li class="footer-link-item">
        <a href="/page-cookies-policy.html">Cookies Policy</a>
      </li>
    </ul>
    <p class="paragraf-footer">All rights reserved designyoyi.online | 2025</p>
  </div>
</footer>
