<section class="container section-gallery">
  <h2 id="gallery" class="tytle-gallery">Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper myswiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed1-1x.png 1x,
              ./img/gallery/large_img/unnamed1-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed1-1x.png 1x,
              ./img/gallery/mobile/unnamed1-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed1-1x.png"
            alt="Follow the Story! - Two characters, a man and a woman, in a dramatic scene. 
                 Renovate - A before-and-after scene showing a room renovation, with a man and a child. 
                 Make Jewelry - An illustration of various gems and a jeweled tiara."
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed2-1x.png 1x,
              ./img/gallery/large_img/unnamed2-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed2-1x.png 1x,
              ./img/gallery/mobile/unnamed2-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed2-1x.png"
            alt="Make Jewelry -  An illustration of various gems and a jeweled tiara."
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed3-1x.png 1x,
              ./img/gallery/large_img/unnamed3-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed3-1x.png 1x,
              ./img/gallery/mobile/unnamed3-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed3-1x.png"
            alt="A stylized
          illustration shows an angry-looking woman with long red hair, wearing
          a brown jacket, standing with her arms crossed. She is positioned in
          the foreground, looking toward the viewer with a scowl. In the
          background, seen through an open doorway, a man with a beard and a
          woman with short dark hair are standing close to each other. The woman
          in the background is touching the man's chest. Below the illustration,
          a purple banner with a yellow border says - Follow the Story!"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed4-1x.png 1x,
              ./img/gallery/large_img/unnamed4-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed4-1x.png 1x,
              ./img/gallery/mobile/unnamed4-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed4-1x.png"
            alt="A stylized illustration of a red-haired woman
             with a red top, smiling and pointing toward the center
              of the image. A glowing treasure chest is in the middle, 
              with various items floating above it, including coins,
               a heart with wings, a magnifying glass, and a hammer. 
               In the background, there is a mountain landscape.
                To the right of the woman, a menu-like interface is shown
                 with different rows and coin values.
                  A purple banner at the bottom says - Win Rewards!"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed5-1x.png 1x,
              ./img/gallery/large_img/unnamed5-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed5-1x.png 1x,
              ./img/gallery/mobile/unnamed5-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed5-1x.png"
            alt="A stylized illustration showing a glass jar with a cork stopper, 
            filled with large, sparkling, multicolored gems. Several more gems are
             shown floating above the jar. In the background, there is a grid of tiles
              with various symbols on them, suggesting a puzzle or matching game.
               Below the jar, a bar shows a few food items and a single blue gem.
                A purple banner at the bottom says - Join Events!"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed6-1x.png 1x,
              ./img/gallery/large_img/unnamed6-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed6-1x.png 1x,
              ./img/gallery/mobile/unnamed6-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed6-1x.png"
            alt=" A stylized illustration showing a You Win! screen from a mobile game. 
            In the center, there is a large VS logo, with two characters on either side:
            one male character with glasses named Leo and another female character with a crown named Nana.
            Below Leo, a stack of gold coins is shown with the number 100. The background features a dark, cloudy sky. 
            A purple banner at the bottom says Play with Friends."
          />
        </picture>
      </div>
    </div>

    <!-- пагінація -->
    <div class="swiper-pagination"></div>
    <!-- кнопки навігації -->
    <div class="swiper-button-prev">
      <svg width="21" height="37">
        <use href="./icons.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="21" height="37">
        <use href="./icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
  <!-- ===== -->
  <div class="gallery-modes-bg-img-wrapper-left" aria-hidden="true">
    <picture>
      <source
        srcset="
          ./img/game-modes/diamond-fetures-bg-desc-1x.webp 1x,
          ./img/game-modes/diamond-fetures-bg-desc-2x.webp 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./img/game-modes/diamond-fetures-bg-mob-1x.webp 1x,
          ./img/game-modes/diamond-fetures-bg-mob-2x.webp 2x
        "
        media="(max-width:1198px)"
      />
      <img
        src="./img/game-modes/diamond-fetures-bg-desc-2x.webp"
        alt="background decoration"
        width="232"
      />
    </picture>
  </div>
</section>
