<section class="container section-galery">
  <h2 id="gallery" class="tytle-galery">Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper myswiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed1-1x.png 1x,
              ./img/gallery/large_img/unnamed1-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed1-1x.png 1x,
              ./img/gallery/mobile/unnamed1-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed1-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed2-1x.png 1x,
              ./img/gallery/large_img/unnamed2-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed2-1x.png 1x,
              ./img/gallery/mobile/unnamed2-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed2-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed3-1x.png 1x,
              ./img/gallery/large_img/unnamed3-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed3-1x.png 1x,
              ./img/gallery/mobile/unnamed3-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed3-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed4-1x.png 1x,
              ./img/gallery/large_img/unnamed4-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed4-1x.png 1x,
              ./img/gallery/mobile/unnamed4-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed4-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed5-1x.png 1x,
              ./img/gallery/large_img/unnamed5-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed5-1x.png 1x,
              ./img/gallery/mobile/unnamed5-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed5-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/large_img/unnamed6-1x.png 1x,
              ./img/gallery/large_img/unnamed6-2x.png 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/unnamed6-1x.png 1x,
              ./img/gallery/mobile/unnamed6-2x.png 2x
            "
          />

          <img
            src="./img/gallery/mobile/unnamed6-1x.png"
            alt="Опис зображення"
          />
        </picture>
      </div>
    </div>

    <!-- пагінація -->
    <div class="swiper-pagination"></div>
    <!-- кнопки навігації -->
    <div class="swiper-button-prev">
      <svg width="48px" height="48px">
        <use href="./public/icons.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="48px" height="48px">
        <use href="./public/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
