<section class="game-modes" id="game-modes">
  <div class="container">
    <div class="modes-img">
      <picture>
        <source
          srcset="
            ./img/game-modes/game-modes-desc-1x.webp 1x,
            ./img/game-modes/game-modes-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/game-modes/game-modes-mob-1x.webp 1x,
            ./img/game-modes/game-modes-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/game-modes/game-modes-desc-2x.webp"
          alt="game-modes-img"
          width="160"
        />
      </picture>
    </div>
    <h2 class="modes-title">Game Modes</h2>
    <ul class="modes-list">
      <li class="modes-item">
        <h3 class="modes-item-title">Classic Cozy:</h3>
        <p class="modes-item-text">Match and clear without a timer</p>
      </li>
      <li class="modes-item">
        <h3 class="modes-item-title">Timed Tea:</h3>
        <p class="modes-item-text">
          Infinite play with no distractions or goals
        </p>
      </li>
      <li class="modes-item">
        <h3 class="modes-item-title">Zen Tiles:</h3>
        <p class="modes-item-text">
          New puzzles every day to keep your mind sharp and engaged. Compete
          with friends for the best scores!
        </p>
      </li>
      <li class="modes-item">
        <h3 class="modes-item-title">Daily Warmth:</h3>
        <p class="modes-item-text">One unique board every day</p>
      </li>
      <li class="modes-item">
        <h3 class="modes-item-title">Custom Quilt (Coming Soon):</h3>
        <p class="modes-item-text">
          Design your own tile challenges with patterns and themes
        </p>
      </li>
    </ul>
  </div>
</section>
