<section class="game-modes" id="game-modes">
  <div class="container game-modes-container">
    <h2 class="modes-title">Game Modes</h2>

    <div class="modes-img">
      <picture>
        <source
          srcset="
            ./img/game-modes/game-modes-desc-1x.webp 1x,
            ./img/game-modes/game-modes-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/game-modes/game-modes-mob-1x.webp 1x,
            ./img/game-modes/game-modes-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/game-modes/game-modes-desc-2x.webp"
          alt="game-modes-img"
          width="160"
        />
      </picture>
    </div>
    <ul class="modes-list">
      <li class="js-modes-item">
        <h3 class="modes-item-title">Classic Cozy:</h3>
        <p class="modes-item-text">Match and clear without a timer</p>
      </li>
      <li class="js-modes-item">
        <h3 class="modes-item-title specific-modes-item-title">Timed Tea:</h3>
        <p class="modes-item-text">
          Solve relaxing layouts before your tea cools down
        </p>
      </li>
      <li class="js-modes-item">
        <h3 class="modes-item-title">Zen Tiles:</h3>
        <p class="modes-item-text">
          Infinite play with no distractions or goals
        </p>
      </li>
      <li class="js-modes-item">
        <h3 class="modes-item-title">Daily Warmth:</h3>
        <p class="modes-item-text">One unique board every day</p>
      </li>
      <li class="js-modes-item">
        <h3 class="modes-item-title">Custom Quilt (Coming Soon):</h3>
        <p class="modes-item-text">
          Design your own tile challenges with patterns and themes
        </p>
      </li>
    </ul>
    <div class="modes-bg-img-wrapper" aria-hidden="true">
      <picture>
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-desc-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-desc-2x.webp 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./img/game-modes/diamond-fetures-bg-mob-1x.webp 1x,
            ./img/game-modes/diamond-fetures-bg-mob-2x.webp 2x
          "
          media="(max-width:1198px)"
        />
        <img
          src="./img/game-modes/diamond-fetures-bg-desc-2x.webp"
          alt="background decoration"
          width="232"
        />
      </picture>
    </div>
  </div>
</section>
