<section class="hero">
  <div class="container">
    <div class="hero_wrapper">
      <div class="hero_img">
        <picture>
          <source
            srcset="
              ./img/hero/hero-desc-1x.webp 1x,
              ./img/hero/hero-desc-2x.webp 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/hero/hero-mob-1x.webp 1x,
              ./img/hero/hero-mob-2x.webp 2x
            "
            media="(max-width:1198px)"
          />
          <img src="./img/hero/hero-desc-2x.webp" alt="hero-img" width="189" />
        </picture>
      </div>
      <div class="hero_text">
        <h1 class="hero_title">Tile Cozy: Match Puzzle Game</h1>
        <p class="hero_subtitle">
          Slide, Match, Relax — Feel the Warmth of Puzzle Calm
        </p>
        <div class="hero_cta">
          <a
            href="https://play.google.com/store/apps/details?id=com.nss.chikiguys&hl=en&gl=us"
            class="hero_cta-button"
            target="_blank"
            >Play Cozy Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
