.section-accordion {
  position: relative;
  overflow: hidden;
}
.accordion-top-title {
  font-family: Spectral;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  color: #4f380b;

  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 18px;
}

.container-accordeon {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 42px;
}

.accordion-item {
  border-radius: 16px;
  background-color: #285837;
  overflow: hidden;
}

.accordion-icon {
  width: 26px;
  height: 26px;
  color: var(--color-bg-accent);
  transition: transform 0.3s ease;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: #285837;
  cursor: pointer;
  border: none;
}

.accordion-item.active .accordion-header::after {
  content: '';
  display: block;
  width: calc(100% - 24px);
  height: 1px;
  background-color: #f4f3f3;
  margin-left: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.accordion-item.active .accordion-header {
  position: relative;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s ease-in-out; */
  padding-left: 12px;
  padding-right: 12px;
}

.accordion-content p {
  color: #f4f3f3;
  font-family: Spectral;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.accordion-title {
  font-family: Spectral;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #f4f3f3;
}

.accordion-item.active .accordion-content {
  max-height: 200px;
  padding-bottom: 12px;
  padding-top: 12px;
}

/* ==== */
.fag-modes-bg-img-wrapper-right {
  position: absolute;
  /* bottom: -94px; */
  top: 276px;
  right: -15px;
  z-index: -1;
  width: 196px;
}
.fag-modes-bg-img-wrapper-right img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  /* .section-accordion {} */

  .container-accordeon {
    width: 896px;
    margin: 0 auto;
  }
  .accordion-top-title {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 24px;
  }
  .accordion-header {
    padding: 32px;
  }
  .accordion-title {
    font-size: 32px;
    line-height: 24px;
  }
  .accordion-content {
    padding-left: 32px;
    padding-right: 32px;
  }
  .accordion-content p {
    font-size: 24px;
    line-height: 64px;
  }
  .accordion-item.active .accordion-header::after {
    width: calc(100% - 64px);
    margin-left: 32px;
  }

  /* ====== */
  .fag-modes-bg-img-wrapper-right {
    width: 391px;
    /* bottom: -201px; */
    top: 60px;
    right: -18px;
  }
}
