.section-footer {
  background-color: #285837;
  padding: 24px 0;
  color: #f4f3f3;
}

.footer-container {
  padding: 24px 0px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 14px;
}

.footer-link-item {
  /* position: relative; */
  font-weight: 500;
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
}

.footer-dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-bg-accent);
}

.paragraf-footer {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  /* width: 288px; */
  min-height: 48px;
  margin: 0 16px;
}

@media screen and (min-width: 1200px) {
  .section-footer {
    width: 100%;
  }

  .footer-links {
    flex-direction: row;
  }
}
