.section-footer {
  background-color: #285837;
  margin: 0;
  padding: 0;
  }

.footer-container {
  padding: 24px 12px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 auto 16px;
  width: 288px;
  height: 220px;
  gap: 14px;
}

.footer-link-item {
  position: relative;
  padding: 0 6px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  color: #f4f3f3;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.paragraf-footer {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #f4f3f3;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  width: 288px;
  min-height: 48px;
}

@media screen and (min-width: 1200px) {
  .section-footer {
    width: 100%;
  }
  .footer-links {
    flex-direction: row;

    margin: 0 auto;
    width: 948px;
    height: 68px;
    gap: 14px;
    margin-bottom: 16px;
  }
  .paragraf-footer {
    margin: 0 auto;
    width: 303px;
    height: 24px;
  }
}
