.hero {
    top: 60px;
    padding: 72px 0 24px;
    box-shadow: 4px 8px 8px 2px rgba(79, 56, 11, 0.25);
    background-image: url(../img/hero/hero-bg-mob-1x.webp);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: url(../img/hero/hero-bg-mob-2x.webp);
    }
}

.hero_img img {
    margin: 0 auto 12px;
    width: 189px;
}

.hero_title {
    text-align: center;
    font-size: 48px;
    line-height: 1.1;
}

.hero_subtitle {
    color: #634505;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.hero_cta-button {
    display: block;
    max-width: 258px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 16px 48px;
    border-radius: 16px;
    background-color: var(--color-accent);
    color: var(--color-bg-light);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.hero_cta-button:hover {
    /* background: rgba(40, 88, 55, 0.80); */
    background: #285837;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.hero_cta-button:focus,
.hero_cta-button:active {
    background: #163520;
}

@media screen and (min-width:1200px) {
    .hero {
        padding: 126px 0 44px;
        background-image: url(../img/hero/hero-bg-desc-1x.webp);
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: url(../img/hero/hero-bg-desc-2x.webp);
        }
    }

    .hero_wrapper {
        padding-left: 21px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hero_img img {
        margin: 0;
        width: 478px;
    }

    .hero_text {
        margin-top: 74px;
        max-width: 512px;
        width: 100%;
    }

    .hero_title {
        margin-bottom: 26px;
        font-size: 64px;
        line-height: 1.2;
    }

    .hero_subtitle {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 108px;
    }
}