.go-back {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #285837;
  line-height: 28px;

  text-align: center;
  width: 168px;
  height: 30px;
  /* margin-top: 32px; */
  margin-bottom: 24px;
}

.go-back a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #4f380b;
}

.title-police {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  vertical-align: middle;
  margin-bottom: 8px;
}

.first-paragraf {
  margin-bottom: 32px;
}

.general-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

/* .list-paragraf {
} */

/* .paragraf-police {
} */

.last-updated {
  font-weight: 600;
  font-size: 20px;
  color: #616161;
  line-height: 1.5;
  margin-bottom: 30px;
}

.last-updated span {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.title-paragraf {
  font-size: 24px;
  margin-bottom: 12px;
}

.item-paragraf {
  color: #4f380b;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 22px;
}

.item-paragraf li {
  list-style-type: disc;
  list-style-position: outside;
}

ul.item-paragraf {
  padding-left: 20px;
}

.item-link {
  color: #1a73e8;
  font-family: Spectral;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 22px;
}

.item-link li {
  list-style-type: disc;
  list-style-position: outside;
}

ul.item-link {
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  .title-police {
    font-size: 64px;
    line-height: 1.5;
  }

  .title-paragraf {
    font-size: 24px;
    margin-bottom: 16px;
  }
}