*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
}

p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: inherit;
  font-style: inherit;
}

p:last-child {
  margin-bottom: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  height: auto;
}