.terms-container {
  padding: 0 16px;
  width: 288px;
}
.back-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #285837;
  line-height: 28px;
  text-align: center;
  width: 168px;
  height: 30px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.back-link a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.link-icon {
  color: #4f380b;
}
.terms-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  color: #4f380b;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 288px;
  height: auto;
  margin-bottom: 22px;
}
.intro-paragraph-wrapper {
  width: 288px;
  height: auto;
  margin-bottom: 32px;
}
.terms-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.list-item-section {
  width: 288px;
  height: auto;
}
.terms-text {
  color: #4f380b;
  font-family: Spectral;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 22px;
}
.updated-date {
  font-family: Spectral;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  color: #616161;
  line-height: 30px;
  letter-spacing: 0%;
  width: 224px;
  height: 30px;
  margin-bottom: 30px;
}

.section-heading {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  color: #4f380b;
  line-height: 28px;
  letter-spacing: 0%;
  padding-bottom: 8px;
}
.bullet-list {
  color: #4f380b;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 22px;
  width: 288px;
}
.bullet-list li {
  width: 268px;
  list-style-type: disc;
  list-style-position: outside;
}
ul.bullet-list {
  padding-left: 20px;
}
.link {
  color: #1a73e8;
  font-family: Spectral;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 22px;
}
.external-link-list li {
  width: 288px;
  list-style-type: disc;
  list-style-position: outside;
}
ul.external-link-list {
  padding-left: 20px;
}
@media screen and (min-width: 1200px) {
  .terms-container {
    padding: 0 60px;
    width: 1200px;
  }
  .terms-title {
    width: 654px;
    height: 98px;
    font-size: 64px;
    line-height: 96px;
  }
  .intro-paragraph-wrapper {
    width: 1080px;
  }
  .list-item-section {
    width: 1080px;
  }
  .updated-date {
    width: 1080px;
  }
  .bullet-list {
    width: 1080px;
  }
  .bullet-list li {
    width: 1080px;
  }
  .external-link-list li {
    width: 1080px;
  }
}
